@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.form-elegant .font-small {
  font-size: 0.8rem; }

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }


.form-signin {
  z-index: 100;
}

/*----------------------------
  Inputs, Buttons & Links
-----------------------------*/

input, textarea, button {
  margin-top: 10px
}

/* Required field START */

.required-field-block {
  position: relative;
  margin-bottom: 3%;
}

.required-field-block .required-icon {
  display: inline-block;
  vertical-align: middle;
  margin: -0.25em 0.25em 0em;
  background-color: #E8E8E8;
  border-color: #E8E8E8;
  padding: 0.5em 0.8em;
  color: rgba(0, 0, 0, 0.65);
  text-transform: uppercase;
  font-weight: normal;
  border-radius: 0.325em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  transition: background 0.1s linear;
  font-size: 75%;
}

.required-field-block .required-icon {
  background-color: transparent;
  position: absolute;
  top: 0em;
  right: 0em;
  z-index: 10;
  margin: 0em;
  width: 30px;
  height: 30px;
  padding: 0em;
  text-align: center;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
  position: absolute;
  content: "";
  right: 1px;
  top: 1px;
  z-index: -1;
  width: 0em;
  height: 0em;
  border-top: 0em solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 0em solid transparent;
  border-right-color: inherit;
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}

.required-field-block .required-icon .text {
  color: #B80000;
  font-size: 26px;
  margin: -3px 0 0 12px;
}

/* Required field END */

form {
  width: 400px;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 0 1 500px;
  min-height: 500px;
  /*border: 5px solid lightblue;*/
  margin: 20px 15px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.receip {
  padding: 0 20px;
}

.receip .list-ingredients {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px 20px;
  background-color: #F5F5F5;
  transform: scale(1.12);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.receip .list-ingredients li {
  margin-left: 20px;
  margin-right: 5px;
}

.receip ol {
  padding: 10px 0px 10px 20px;
}

.receip ol li {
  margin-bottom: 10px;
}

.form:after {
  content: "";
  display: block;
  height: 100px;
}

footer {
  display: flex !important;
  justify-content: space-around;
  background-color: #eceff1;
  padding: 10px 0 10px 0;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-top: 5%;
}

.not-found {
  text-align: center;
}

.login {
  padding: 5px;
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.login>* {
  width: 100%;
  margin: 0 auto 20px auto;
}

.facebook-btn {
  background-color: #3b5998;
  color: #E8E8E8;
}

header {
  position: relative;
  bottom: 0.75%;
  width: 100%;
  text-align: center;
  background: #337ab7;
  color: white;
  padding: 1%;
}

.box {
    height: 100%;
    position: relative;
    bottom: 0.654%;
}